body{
    box-sizing: border-box;
}
#data-card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 20px 40px;
    margin: 25px 40px;
}
#data-card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#search{
    position: absolute;
    top: 12px;
    right: 2%;
    background-color: #fcfcfc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 0 2px 4px 4px rgba(0,0,0,.5);
    transition: all .2s ease-in;
}
#search input{
    margin: 0 4px;
    outline:none;
    border: none;
    background-color: transparent;
    border-right: 2px solid #ccc;
    transition: all .2s ease-in;
}
#search .icon{
    cursor: pointer;
    padding: 2px;
    color: #666;
}

#tag-container{
    margin-top: -12px;
    display: flex;
    justify-content: center;
    
}
#tag-container #tag{
    font-size: .8rem;
    background-color: #0af;
    border-radius: 20px;
    display: inline-block;
    padding: .4em .6em;
    max-height: 30px;
    margin: 5px;
    color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.2);
}
.display-thumbnail{
    width: 400px;
    max-width:100%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    margin:20px 0;
    box-shadow:2px 2px 8px 2px rgba(0,0,0,.4);
}

@media (max-width:768px){
    #data-card{
        margin: 25px auto;
    }
    #search{
        border-radius: 50%;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }
    #search input{
        border-right: none;
        width: 0;
        display: block;
        transition:all .2s ease-in-out;
    }
    #search .icon .fa-search{
        position: relative;
        left: 30%;
        margin-top: 2px;
        transform: translateX(-50%);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 3px;
    }
    #search:hover input,
    #search:focus input{
        width: 100%;
        border-right: 2px solid #888;
    }
    #search:hover,
    #search:focus{
        border-radius: 50px;
    }
    #tag-container{
        flex-wrap: wrap;
    }
}